@font-face 
{
    font-family: 'ralewaythin';
    src: url('style/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('style/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'ralewaythin', Arial, sans-serif;

}

#bloc_page
{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 2em;
	box-sizing: border-box;
}


/* <<<< HEADER DESKTOP >>>> */

header
{
	

}

#Reservia_Header
{
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#logo_Reservia img
{
	width: 100px;
	margin-top: 5px;
}


/* <<<< NAV >>>> */


ul

{
	display: flex;
	justify-content: flex-end; 
	list-style-type: none;
}

li
{
	padding: 15px;
}
nav a 
{

}