body {

	font-family: 'ralewaythin', Arial, sans-serif;
	max-width: 1440px;
	margin: auto;
	font-size: 16px;
	color: black;
}

 .content  {

	max-width: 1360px;
	margin: auto;
	box-sizing: border-box;
}


/* <<<< HEADER DESKTOP >>>> */


.reservia-header {

	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-content: center;
    
}

.logo-reservia img {

	width: 100px;
	padding-top: 35px;
	padding-left: 20px;
	order: 1;
}	
	

nav {

	display: flex;
	align-items: baseline;

}

nav .register-link {

	padding: 25px 0 0 15px;
	font-weight: 700px;
	content: #0065fc;
	order: 2;
}

.list-navigation {

	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 30px 0 0 0;
}

.list-navigation li {

	padding: 25px 15px 0 15px;
	border-top: solid 3px white ;
}

.list-navigation li:hover {

	border-color: #0065fc;
}

.list-navigation li a {

	color: black;
	text-decoration: none;
}

.list-navigation li a:hover {

	color: #0065fc;

}

.list-navigation .list-selected .list-activity {
  border-top: solid 3px #0065fc;
}

.list-navigation .list-selected .list-activity a {
  color: #0065fc;
}

.register-link {

	color: black;
	text-decoration: none;
	cursor: pointer;
	order: 3;
}

.register-link:hover {

	color: #0065fc;
}
/* <<<< SECTION DESKTOP >>>> */

section {

	padding: 10px;
}

h1 {

	font-size: 22px;
}

.p1 {

	font-weight: bold;
	margin-bottom: 30px;
}

.localisation {

	display: flex;
	align-items: center;
	align-content: center;
	width: 285px;
	height: 50px;
	border-top: 2px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	
}

.search {
	outline: none;
	color: black;
	padding: 15px;
	border: none;
	font-size: 16px;
	font-weight: bold;
}

#map {

	padding-right: 12px;
	padding-bottom: 17px;
	padding-left: 15px;
	padding-top: 18px;
	background: #F2F2F2;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 14px;
}

.research2 {

	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 33px;
	padding-right: 20px;
	color: white;
	font-weight: bold;
	background: #0065fc;
	border-bottom-right-radius: 13px;
	border-top-right-radius: 12px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	height: 18.5px;


	}

#research-logo {

	display: none;
}


.filters {

	display: flex;
	margin-top: 30px;
	font-weight: bold;
	
}


.button {

	display: flex;
	align-items: center;
 	border-bottom: 3px solid #F2F2F2;
	border-right: 3px solid #F2F2F2;
	border-top: 3px solid #F2F2F2;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	color: black; 
	margin-left: 30px;
	cursor: pointer;

}

.pan {

	margin-right: 10px;
}

#logo-filters {

	border: 2px solid #DEEBFF;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	margin-right: 0.5rem;
	text-align: center;
	line-height: 25px;
	padding: 0.5rem;
	background-color: #DEEBFF;
	color: #0065fc;
	
}

.info {

	font-size: 12px;
	margin-top: 35px;
	margin-bottom: 20px;
}

#info-logo {

	border: 2px solid #F2F2F2;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	color: #0065fc;
}

#info-logo:hover {

	border-color: #0065fc;
}

.button :hover {

	color: #0065fc;
	
}


/* <<<< ARTICLE DESKTOP >>>> */


.article {

	border: 2px solid #F2F2F2;
	border-radius: 25px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F2F2F2;
	margin-right: 20px;
	
}	

h2 {

	padding-top: 20px;
	font-size: 16px;
	padding-left: 10px;
	padding-bottom: 25px;
	color: black;
}

.large-frame {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.frame1 {

	border: 1px solid #F2F2F2;
	width: 245px;
	height: 210px;
	padding-left: 5px;
	padding-top: 5px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 2px 2px 3px #dbd0d0;
	color: black;
	cursor: pointer;
	margin-bottom: 20px;

}


.hostel {

	border: 1px solid white;
	width: 97%;
	height: 114px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-bottom: 5px;
	object-fit: cover;
}


h4 {

	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	color: black;
	cursor: pointer;
	
}


.wrapper-stars {

	display: flex;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
}

.starblue {

	color: #0065fc;
	margin-right: 3px;
}
.price {

	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
}

.motel {

	font-weight: bold;
	padding-left: 5px;
}


/* <<<< ASIDE DESKTOP >>> */


.aside-section {

	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	height: 100%;
	border-radius: 25px;
}

.arrow {

	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-top: 30px;
}

.arrow-logo {

	padding-right: 15px;
	cursor: pointer;
}

.arrow-logo :hover {

	color: #0065fc;
}

.home {

	width: 130px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	object-fit: cover;
	padding: 5px;
}

.frame-home {

	border: 1px solid white;
	width: 345px;
	height: 140px;
	background-color: white;
	border-radius: 20px;
	display: flex;
	margin-left: 30px;
	margin-right: 30px;
	box-shadow: 2px 2px 3px #dbd0d0;
	margin-bottom: 25px;
	cursor: pointer;
}


.frame-aside {

	position: relative;
	padding-left: 20px;
}

.title-aside {

	padding-bottom: 5px;
	padding-top: 20px;
	font-weight: bold;
	color: black;
}

.tariff {

	padding-bottom: 20px;
	color: black;
}

.star-decoration {

	text-decoration: none;
}

.stargrey {

	color: #dbd0d0;
	margin-right: 3px;
}


.article-page {

	display: flex;
	justify-content: space-between;
}

h3 {

	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}

.starblue2 {

	color: #0065fc;
	position: absolute;
	bottom: 10px;
}


/* <<<< SECTION 2 >>>> */


.section {

	font-weight: bold;
}

.activites-img {

	width: 300px;
	height: 380px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	object-fit: cover;
}

.activites-content {

	border: 1px solid #F2F2F2;
	width: 300px;
	height: 445px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #dbd0d0;
	cursor: pointer;
}

.activites {

	padding-left: 10px;
	color: black;
}

.activites-img2 {

	width: 300px;
	height: 150px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
}

.activites-content-2 {

	border: 1px solid #F2F2F2;
	width: 300px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #dbd0d0;
	margin-bottom: 25px;
	cursor: pointer;
}

.frame-activities {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
}

.activites-column {

	display: flex;
	flex-direction: column;
}


/* <<<< FOOTER >>>> */

footer {

	display: flex;
	justify-content: space-around;
	border: 1px solid #F2F2F2;
	width: 1440px;
	background-color: #F2F2F2;
	padding: 50px 0;
	margin-top: 20px;
	
	
}

.advice {

	text-decoration: none;
	color: black;
}

ul {

	list-style-type: none;
	font-size: 14px;
	padding : 0;	
}

li {

	padding-top: 5px;
	padding-bottom: 5px;
}

h5 {

	font-size: 16px;
	font-weight: bold;
}

/* <<<< Responsive >>>> */


@media screen and (max-width: 1390px) {

	.content {

		width: 100%;
	}


	.filters{

		width: auto; 
	}


	footer {

		width: 100%;
	}

	.frame-home {

		display: flex;
		align-content: flex-end;
	}
	.frame-activities {

		width: 98%;
	}
}	


@media screen and (max-width: 1228px) {


	.aside-section {

		height: 70%;
	}
}

@media screen and (max-width: 1046px) {

	.article {

		border: none;
		background-color: white;
		margin-right: 0px;
		height: auto;
		order: 1;
	}

	.filters {

		flex-wrap: wrap;

	}

	.button {

		margin-bottom: 10px;

	}


	footer {

	flex-direction: column;

}

	.footer {

	
	text-align: center;
}

	ul {
	font-size: 16px;
}

	h5 {

	font-size: 20px;
}

	.large-frame {

		display: flex;
		justify-content: space-between;

	}

	.frame-activities {

		justify-content: space-around;
	}

	.article-page {

		flex-direction: column;
		order: 2;
}

	.aside-section {

		width: 100%;
		padding-bottom: 10px;

	}

	.frame-home {

		width: 55%;	
		margin: 0 auto;
		margin-bottom: 20px;

	}

}

/* <<<<< MOBILE/PETITE TABLETTE >>>> */

@media screen and (max-width: 637px) {



 .reservia-header {
    align-items: flex-end;
  }

.logo-reservia {
    position: absolute;
    top: 15px;
    left: 35px;
    margin: -40px;

  }

  nav {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 30px;
  }

nav .register-link {
    position: absolute;
    top: 5px;
    right: 25px;

  }

.list-navigation {
    order: 2;
    width: 100%;
  }

.list-navigation li {
	border-top: none;
    width: 50%;
    border-bottom: solid 3px #F2F2F2;
    padding-bottom: 5px;
    text-align: center;
 
  }

.list-navigation li:hover {

	border-bottom: solid 3px #0065fc;
}

.list-navigation .list-selected .list-activity a {
    color: #0065fc;
  }

.aside-section {
		margin-top: 30px;
		margin-bottom: 20px;
	}


.frame-activities {

	flex-direction: column;
}


.activites-content, .activites-content-2 {

	border: 1px solid #F2F2F2;
	width: 100%;
	height: 250px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #dbd0d0;
	margin-bottom: 25px;
	
}

.activites-img, .activites-img2 {

	width: 100%;
	height: 195px;
	margin: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
	margin-right: 10px;
}

.reservia-header {

	flex-direction: column;
} 

.frame1 {

	width : 100%;
	margin-left: -10px;
	height: 260px;
	
}

.motel {

	padding-left: 10px;
}

.price {

	padding-left: 10px;
}

 aside .starblue {

	padding-left: 10px;
	position: relative;
	bottom: 10px;
}

.hostel {

	width: 99%;
	height: 165px;
}

.aside-section {

	border-radius: 0%;
	width: 100%;
	margin: 0 auto;
	height: 750px;
	position: relative;
}

.frame-home {

	width: 90%;
	height: 185px;

}

.footer {

	margin-left: 20px;
	text-align: left;
}

h1 {

	
	font-size: 25px;
}

.research2 {

	display: none;
	position: relative;
	left: -50px;
	
}

#research-logo {


	display: flex;
    padding-left: 16px;
    color: white;
    font-weight: bold;
    background: #0065fc;
    border-radius: 12px;
    text-decoration: none;
    margin-left: -8px;
    cursor: pointer;
    width: 34px;
    height: 54px;
    align-items: center
	
}

.localisation {

	width: 283px;
}
.article-page {

	flex-direction: column;
	order: 2;
}

.article {

	order: 1;
	
}

.logo-reservia img {
	
	order: 1;
}
.title-filters {

	width: 300px;
	height: auto;
}

}