@font-face 
{
    font-family: 'ralewaythin';
    src: url('style/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('style/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'ralewaythin', Arial, sans-serif;
	max-width: 1440px;
	font-size: 16px;
	color: black;
}

#bloc_page
{
	max-width: 1360px;
	margin: auto;
	padding: 0 2em;
	box-sizing: border-box;
}


/* <<<< HEADER DESKTOP >>>> */


#Reservia_Header
{
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#logo_Reservia img
{
	width: 100px;
	margin-top: 20px;
	margin-left: -57px;
}


/* <<<< NAV DESKTOP >>>> */


.nav-container

{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	list-style-type: none;
	padding: 15px;

}
.Hébergements-link
{
	color: #0065fc;
	border-top: solid 3px #0065fc;
	padding-top: 35px;
	margin-right: 70px;
	text-decoration: none;

}

.Activités-link
{
	text-decoration: none;
	color: black;
	border-top: solid 3px white;
	padding-top: 35px;
}

.inscrire-link
{
	color: #0065fc;
	font-weight: bold;
	margin-left: 70px;
	text-decoration: none;

}

/* <<<< SECTION DESKTOP >>>> */

section
{
	margin-left: 20px;
	margin-top: 43px;
}

h1
{
	font-size: 22px;
}

.para1
{
	font-weight: bold;
}
#localisation
{
	display: flex;
	align-items: baseline;
	padding-bottom: 20px;
	font-size: 
}

.Marseille
{
	outline: none;
	color: #F2F2F2;
	padding: 5px;
}

#logo1
{
	padding-right: 10px;
	border-bottom: 1px solid #F2F2F2;
	padding-bottom: 7px;
	border-left: 1px solid #F2F2F2;
	padding-left: 9px;
	border-top : 1px solid #F2F2F2;
	padding-top: 4.5px;
	background: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.Rechercher
{
	padding-left: 10px;
	border-top: 1px solid #F2F2F2;
	padding-top: 6.5px;
	border-right: 1px solid #F2F2F2;
	padding-right: 5px;
	border-bottom: 1px solid #F2F2F2;
	padding-bottom: 7px;
	border-right: 1px solid #F2F2F2;
	color: white;
	font-weight: bold;
	background: #0065fc;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
	}

#filtres
	{
		display: flex;
		justify-content: space-between;
		padding-top: 15px;
		font-weight: bold;
		padding-right: 800px;
	}

.eco
{
		border-bottom: 3px solid #F2F2F2;
		padding-bottom: 3px;
		border-right: 3px solid #F2F2F2;
		padding-right: 5px;
		border-top: 3px solid #F2F2F2;
		padding-top: 5px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		padding-left: 20px;

}

#billet
{
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-right: -2rem;
	text-align: center;
	line-height: 20px;
	padding: 0.5rem;
	background-color: #DEEBFF;
	color: #0065fc;
}

.famille

{
	border-bottom: 3px solid #F2F2F2;
	padding-bottom: 3px;
	border-right: 3px solid #F2F2F2;
	padding-right: 5px;
	border-top: 3px solid #F2F2F2;
	padding-top: 5px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-left: 20px;
}

#child
{
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-right: -2rem;
	text-align: center;
	line-height: 20px;
	padding: 0.5rem;
	background-color: #DEEBFF;
	color: #0065fc;
}

.Amour
{
	border-bottom: 3px solid #F2F2F2;
	padding-bottom: 3px;
	border-right: 3px solid #F2F2F2;
	padding-right: 5px;
	border-top: 3px solid #F2F2F2;
	padding-top: 5px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-left: 20px;
}

#love
{
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-right: -2rem;
	text-align: center;
	line-height: 20px;
	padding: 0.5rem;
	background-color: #DEEBFF;
	color: #0065fc;
}

.Animaux
{
	border-bottom: 3px solid #F2F2F2;
	padding-bottom: 3px;
	border-right: 3px solid #F2F2F2;
	padding-right: 5px;
	border-top: 3px solid #F2F2F2;
	padding-top: 5px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-left: 20px;
}

#dog
{
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-right: -2rem;
	text-align: center;
	line-height: 20px;
	padding: 0.5rem;
	background-color: #DEEBFF;
	color: #0065fc;
}