@font-face {

    font-family: 'ralewaythin';
    src: url('style/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('style/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {

	font-family: 'ralewaythin', Arial, sans-serif;
	max-width: 1440px;
	font-size: 16px;
	color: black;
}

.content {

	max-width: 1360px;
	margin: auto;
	padding: 0 auto;
	box-sizing: border-box;
}


/* <<<< HEADER DESKTOP >>>> */


.reservia-header {

	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-reservia img {

	width: 100px;
	margin-top: 20px;
	
}


/* <<<< NAV DESKTOP >>>> */


.nav-container {

	display: flex;
	justify-content: flex-end;
	width: 100%;
	list-style-type: none;
	padding: 15px;

}

.accommodation-link {

	color: #0065fc;
	border-top: solid 3px #0065fc;
	padding-top: 35px;
	margin-right: 70px;
	text-decoration: none;

}

.activity-link {

	text-decoration: none;
	color: black;
	padding-top: 35px;
}


.register-link {

	color: #0065fc;
	font-weight: bold;
	margin-left: 70px;
	text-decoration: none;
}


/* <<<< SECTION DESKTOP >>>> */

section {

	margin-left: 20px;
	margin-top: 43px;
}

h1 {

	font-size: 22px;
}

.p1 {

	font-weight: bold;
}

.localisation {

	display: flex;
	align-items: baseline;
	width: 308px;
	border: 1px solid #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

}

.search {
	outline: none;
	color: black;
	padding: 5px;
	border: none;
}

#map {

	padding-right: 10px;
	padding-bottom: 8.5px;
	padding-left: 9px;
	padding-top: 5.5px;
	background: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.research {

	padding-left: 20px;
	padding-top: 6.5px;
	padding-right: 5px;
	padding-bottom: 7px;
	color: white;
	font-weight: bold;
	background: #0065fc;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;

	}


.filters {

	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	font-weight: bold;
	padding-right: 700px;
}


.button {

	display: flex;
	align-items: center;
 	border-bottom: 2px solid #F2F2F2;
	border-right: 2px solid #F2F2F2;
	border-top: 2px solid #F2F2F2;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	color: black; 	
}

.pan {

	padding-right: 5px;
}

#logo-filters {

	border: 2px solid #F2F2F2;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	margin-right: 0.5rem;
	text-align: center;
	line-height: 25px;
	padding: 0.5rem;
	background-color: #DEEBFF;
	color: #0065fc;
}

.info {

	font-size: 12px;
	margin-top: 35px;
}

#info-logo {

	border: 2px solid #F2F2F2;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	color: #0065fc;
}


.button-link {

	text-decoration: none;
}

.button :hover {

	color: #0065fc;
	
}


/* <<<< ARTICLE DESKTOP >>>> */


.article {

	margin-top: 30px;
	border: 2px solid #F2F2F2;
	border-radius: 25px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F2F2F2;
	width: 870px;
	height: 595px;
}	

h2 {

	padding-top: 20px;
	font-size: 16px;
	padding-left: 10px;
	padding-bottom: 25px;
	color: black;
}

.large-frame {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 20px;
}

.frame1 {

	border: 1px solid #F2F2F2;
	width: 245px;
	height: 200px;
	padding-left: 5px;
	padding-top: 5px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 2px 2px 3px #dbd0d0;
	color: black;
	cursor: pointer;
	margin-bottom: 20px;
}

.frame2 {

	border: 1px solid #F2F2F2;
	width: 245px;
	height: 200px;
	padding-left: 5px;
	padding-top: 5px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 2px 2px 3px #dbd0d0;
	color: black;
	cursor: pointer;
}


.hostel {

	border: 1px solid white;
	width: 237px;
	height: 114px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-bottom: 5px;
	object-fit: cover;
}


h4 {

	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	color: black;
	cursor: pointer;
}


.starblue {

	color: #0065fc;
	margin-top: 5px;
}


/* <<<< ASIDE DESKTOP >>> */


.aside-section {

	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	width: 420px;
	height: 650px;
	border-radius: 25px;
}

.arrow {

	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-top: 30px;
}

.arrow-logo {

	padding-right: 15px;
}

.arrow-logo :hover {

	color: #0065fc;
}

.home {

	width: 130px;
	height: 130px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-left: 5px;
	margin-top: 5px;
	object-fit: cover;
}

.frame-home {

	border: 1px solid white;
	width: 345px;
	height: 140px;
	background-color: white;
	border-radius: 20px;
	display: flex;
	margin-left: 30px;
	margin-right: 30px;
	box-shadow: 2px 2px 3px #dbd0d0;
	margin-bottom: 25px;
}


.frame-aside {

	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.title-aside {

	padding-bottom: 10px;
	padding-top: 20px;
	font-weight: bold;
	color: black;
}

.tariff {

	padding-bottom: 10px;
	color: black;
}

.star-decoration {

	text-decoration: none;
}

.stargrey {

	color: #dbd0d0;
}


.article-page {

	display: flex;
	justify-content: space-between;
}

h3 {

	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}


/* <<<< SECTION 2 >>>> */


.section {

	font-weight: bold;
}

.activites-img {

	width: 300px;
	height: 380px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	object-fit: cover;
}

.activites-content {

	border: 1px solid #F2F2F2;
	width: 300px;
	height: 445px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #dbd0d0;
}

.activites {

	padding-left: 10px;
	color: black;
}

.activites-img2 {

	width: 305px;
	height: 195px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
}

.activites-content-2 {

	border: 1px solid #F2F2F2;
	width: 305px;
	height: 245px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #dbd0d0;
	margin-bottom: 25px;
}

.frame-activities {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
}

.activites-column {

	display: flex;
	flex-direction: column;
}


/* <<<< FOOTER >>>> */

.footer {

	display: flex;
	justify-content: space-around;
	border: 1px solid #F2F2F2;
	width: 1440px;
	height: 220px;
	background-color: #F2F2F2;
	padding-top: 50px;
	margin-top: 20px;
	font-weight: bold;
	
}

.advice {

	text-decoration: none;
	color: black;
}

ul {

	list-style-type: none;
	font-size: 13px;
	padding : 0;	
}

li {

	padding-top: 5px;
}

h5 {

	font-size: 16px;
}

/* <<<< Responsive >>>> */

@media screen and (max-width: 1390px) {

	.body {

		width: auto;
	}

	.article-page {

		flex-wrap: wrap-reverse;
	}

	.filters{

		width: auto; 
	}

	.aside-section {

		margin-top: 30px;
	}

}	

@media screen and (max-width: 830px) {

	.article {

		border: none;
		background-color: white;
		width: auto;
		height: auto;
	}

	.filters {

		flex-wrap: wrap;
	}


}

@media screen and (max-width: 570px) {

		.frame-activities {

			flex-direction: column;
			align-items: center;
		}

		.activites-content {

		border: 1px solid #F2F2F2;
		width: 305px;
		height: 245px;
		border-radius: 10px;
		box-shadow: 3px 3px 6px #dbd0d0;
		margin-bottom: 25px;
	}

		.activites-img {

		width: 305px;
		height: 195px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		object-fit: cover;

		}

		.large-frame {

			align-content: center;
		}
}